body {
    background-color: greenyellow;
    width: 400px; /* largura da página */
    margin: auto;
    padding-top: 50px;
}

div {
    margin-bottom: 30px;
}

input {
    background-color: white;
}